{% extends "base.html" %}

{% block links %}
 <script src="static/main.js"></script> 
{% endblock %}


{% block articles %}

<article>
	<div class="indicator-panel">
		<div class="load-indicator">	
			<svg viewBox="-50 -50 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
				<g id="temperature_indicator">
					<circle cx="0" cy="0" r="50" fill="#ddd"/>
					<path id="load" d="" fill="#3b89ff"/>
					<circle cx="0" cy="0" r="40" fill="#eee"/>
					<text id="value" x="0" y="8" text-anchor="middle" font-size="24">-</text>
					<text id="unit" x="0" y="25" text-anchor="middle" font-size="10">-</text>
				</g>
			</svg>
		</div>
		
		<div class="load-indicator">	
			<svg viewBox="-50 -50 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
				<g id="light_indicator">
					<circle cx="0" cy="0" r="50" fill="#ddd"/>
					<path id="load" d="" fill="#3b89ff"/>
					<circle cx="0" cy="0" r="40" fill="#eee"/>
					<text id="value" x="0" y="8" text-anchor="middle" font-size="24">-</text>
					<text id="unit" x="0" y="25" text-anchor="middle" font-size="10">-</text>
				</g>
			</svg>
		</div>
		
		<div class="load-indicator">	
			<svg viewBox="-50 -50 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
				<g id="humidity_indicator">
					<circle cx="0" cy="0" r="50" fill="#ddd"/>
					<path id="load" d="" fill="#3b89ff"/>
					<circle cx="0" cy="0" r="40" fill="#eee"/>
					<text id="value" x="0" y="8" text-anchor="middle" font-size="24">-</text>
					<text id="unit" x="0" y="25" text-anchor="middle" font-size="10">-</text>
				</g>
			</svg>
		</div>
	</div>
	<div class="indicator-panel">
		<div class="button-indicator"></div>
		<div class="button-indicator">	
			<svg viewBox="-50 -50 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
				<g id="button_1">
					<circle id="backlight" cx="0" cy="0" r="50" fill="#ddd"/>
					<circle cx="0" cy="0" r="40" fill="#eee"/>
					<text id="state" x="0" y="8" text-anchor="middle" font-size="24">-</text>
					<text id="name" x="0" y="25" text-anchor="middle" font-size="10">-</text>
				</g>
			</svg>
		</div>
		<div class="button-indicator">	
			<svg viewBox="-50 -50 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
				<g id="button_2">
					<circle id="backlight" cx="0" cy="0" r="50" fill="#ddd"/>
					<circle cx="0" cy="0" r="40" fill="#eee"/>
					<text id="state" x="0" y="8" text-anchor="middle" font-size="24">-</text>
					<text id="name" x="0" y="25" text-anchor="middle" font-size="10">-</text>
				</g>
			</svg>
		</div>
		<div class="button-indicator"></div>
	</div>
</article>

{% endblock %}